.bg-dialog-title {
    background-color: #18501d;
    margin: 0;
    padding-bottom: 10px;
}
.icon-color-dialog {
    color: #f1ecec;
}
.mat-divider {
    border-top-color: #55ee26;
    border-top-width: 4px;
}
.font-roboto-normal {
    font-family: 'Roboto';
    letter-spacing: 0.7px;
    color: #f1ecec;
}
.color-text-dark-green {
    color: #18501f;
}
.btn-close.mat-mdc-button {
    width: 100%;
    color: #555151 !important;
    background-color: #ddd8d8;
}
.mat-icon {
    vertical-align: middle;
}
.position-dialog-title {
    margin-left: 20px;
}