.example-spacer {
    flex: 1 1 auto;
}
.bg-app-bar{
    background-color: #292458;
}
.white-icon {
    color: #dee8eb;
}

.example-container {
    width: 100%;
    height: 100%;
    //border: 1px solid rgba(0, 0, 0, 0.5);
}
  
.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
  
.example-sidenav {
    padding: 20px;
}