<mat-drawer-container class="example-container" autosize>
  <mat-toolbar class="bg-app-bar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon class="white-icon">menu</mat-icon>
    </button>
    <span class="text-base color-3">{{ userLocal.id }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  


  <mat-drawer #drawer class="example-sidenav" position="start" mode="over">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>
</mat-drawer-container>

<!-- 
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item>Home</a>
      <a mat-list-item>Configuación</a>
      <a mat-list-item>Cerrar sesión</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
-->