<mat-drawer-container class="example-container" autosize>
  <mat-toolbar class="bg-app-bar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon class="white-icon">menu</mat-icon>
    </button>
    <span class="text-base color-3">{{ userLocal.id }}</span>
    <span class="example-spacer"></span>
    
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="white-icon">more_vert</mat-icon>
    </button>

  </mat-toolbar>

  <mat-menu #menu="matMenu" class="bg-app-bar">
    <button mat-menu-item (click)="menuNavRoot('')">
      <mat-icon class="white-icon">home</mat-icon>
      <span class="white-icon">Home</span>
    </button>
    <button mat-menu-item (click)="menuNavRoot('account')">
      <mat-icon class="white-icon">person</mat-icon>
      <span class="white-icon">Mi perfil</span>
    </button>
    <button mat-menu-item (click)="menuNavRoot('dataupload')">
      <mat-icon class="white-icon">upload_file</mat-icon>
      <span class="white-icon">Subida de datos</span>
    </button>
    <button mat-menu-item (click)="menuNavRoot('logs')">
      <mat-icon class="white-icon">light</mat-icon>
      <span class="white-icon">Analizador de logs</span>
    </button>
    <button mat-menu-item (click)="menuNavRoot('config')">
      <mat-icon class="white-icon">settings</mat-icon>
      <span class="white-icon">Configuración</span>
    </button>
    <button mat-menu-item (click)="openLogout()">
      <mat-icon class="red-icon">logout</mat-icon>
      <span class="red-icon text-base-title">Cerrar sesión</span>
    </button>
  </mat-menu>

  <mat-drawer #drawer class="bg-app-bar" position="start" mode="over">
    <div class="menu-panel-logo">
      <div style="width: 100%" class="d-flex justify-content-center"><img width="70%" src="../../../assets/img/logo-AIR.png" /></div>
    </div>

    <button mat-menu-item (click)="menuNavRoot('')">
      <mat-icon class="white-icon">home</mat-icon>
      <span class="white-icon">Home</span>
    </button>
    <button mat-menu-item (click)="menuNavRoot('account')">
      <mat-icon class="white-icon">person</mat-icon>
      <span class="white-icon">Mi perfil</span>
    </button>
    <button mat-menu-item (click)="menuNavRoot('dataupload')">
      <mat-icon class="white-icon">upload_file</mat-icon>
      <span class="white-icon">Subida de datos</span>
    </button>
    <button mat-menu-item (click)="menuNavRoot('logs')">
      <mat-icon class="white-icon">light</mat-icon>
      <span class="white-icon">Analizador de logs</span>
    </button>
    <button mat-menu-item (click)="menuNavRoot('config')">
      <mat-icon class="white-icon">settings</mat-icon>
      <span class="white-icon">Configuración</span>
    </button>
    <button mat-menu-item (click)="openLogout()">
      <mat-icon class="red-icon">logout</mat-icon>
      <span class="red-icon text-base-title">Cerrar sesión</span>
    </button>
  </mat-drawer>
  
  <router-outlet></router-outlet> 

</mat-drawer-container>