.example-spacer {
    flex: 1 1 auto;
}
.bg-app-bar{
    background-color: #292458;
}
.white-icon {
    color: #dee8eb;
}
.red-icon {
    color: #ff2f2f;
}

.example-container {
    width: 100%;
    height: 100%;
}
  
.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
  
.example-sidenav {
    padding: 20px;
}

.menu-panel-logo {
    background-color: #dee8eb;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    z-index: 5;
}