<div class="bg-login">
  <div class="bg-login-container">
    <div class="row login-position-panel">
      <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6 bg-login-panel">

        <div class="row">
          <div class="col d-flex justify-content-center">
            <div style="width: 40%" class="d-flex justify-content-center"><img width="70%" src="../../../assets/img/logo-AIR.png" /></div>
          </div>
        </div>

        <!-- <button (click)="openGeneralError('al hacer la consulta.')" class="btn-style-standard btn-color-red color-4">CERRAR SESIÓN</button> -->

        <div class="row d-flex justify-content-center">
          <div [ngSwitch]="showLogin" class="col-6">
            <!-- REGISTER -->
            <div *ngSwitchCase="'register'" class="animation-fade-in-right">

              <div class="bg-register-title bg-color-2 color-4 mx-auto text-base-title text-center">{{ 'updateUser' | translate }}</div>

              <form [formGroup]="registerForm" (ngSubmit)="sendForm(registerForm.value, 1)">
                <div>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ 'nameUserPlaceholder' | translate }}</mat-label>
                    <input formControlName="registerUser" matInput type="text">
                  </mat-form-field>                  
                </div>
                <div>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ 'namePasswPlaceHolder' | translate }}</mat-label>
                    <input formControlName="registerPassw" matInput [type]="hidePassw ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hidePassw = !hidePassw" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassw">
                      <mat-icon>{{hidePassw ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>                  
                </div>
                <div>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ 'reEnterPassw' | translate }}</mat-label>
                    <input formControlName="registerPasswRepit" matInput [type]="hidePasswRepit ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hidePasswRepit = !hidePasswRepit" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswRepit">
                      <mat-icon>{{hidePasswRepit ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>                  
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn-style-standard btn-color-normal color-4">{{ 'register' | translate }}</button>
                </div>
              </form>
              <div class="mt-3">
                <button class="btn-style-standard btn-color-back color-5" (click)="goBackLogin()">{{ 'back' | translate }}</button>
              </div>

            </div>
            <!-- FORGOTEN PASSWORD -->
            <div *ngSwitchCase="'password'" class="animation-fade-in-right">

              <form [formGroup]="passwordForm" (ngSubmit)="sendForm(passwordForm.value, 2)">
                <div>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ 'emailUserPlaceholder' | translate }}</mat-label>
                    <input formControlName="emailPassword" matInput type="text">
                  </mat-form-field>                  
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn-style-standard btn-color-normal color-4">{{ 'send' | translate }}</button>
                </div>
              </form>
              <div class="mt-3">
                <button class="btn-style-standard btn-color-back color-5" (click)="goBackLogin()">{{ 'back' | translate }}</button>
              </div>

            </div>
            <!-- LOGIN -->
            <div *ngSwitchDefault class="animation-fade-in-left">

              <form [formGroup]="loginForm" (ngSubmit)="sendForm(loginForm.value, 0)">
                <div>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ 'nameUserLabel' | translate }}</mat-label>
                    <input formControlName="userName" matInput type="text">
                  </mat-form-field>                  
                </div>
                <div>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ 'namePasswLabel' | translate }}</mat-label>
                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>                  
                </div>
                <div class="text-center my-4">
                  <a class="color-7" (click)="sendForgotPassw()">{{ 'forgotPassw' | translate }}</a>
                </div>
                <div>
                  <button type="submit" class="btn-style-standard btn-color-normal color-4">{{ 'access' | translate }}</button>
                </div>
              </form>

              <mat-divider class="my-5"></mat-divider>

              <div class="text-base-title color-2 text-center mb-4">{{ 'firstOneRegister' | translate }}</div>

              <div>
                <button class="btn-style-standard btn-color-normal color-4" (click)="goFormRegister()">{{ 'registering' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
