<div class="bg-login">
  <div class="bg-login-container">
    <div class="row login-position-panel">
      <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6 bg-login-panel">
        <div *ngIf="usuario">Bienvenido {{ usuario }}</div>

        <div *ngIf="!usuario">Por favor ingrese usuario</div>

        <!-- 
        <ng-container *ngIf="showLogin === 'login'">
          <div>login</div>
        </ng-container>
        <ng-template #register>
          <div>register</div>
        </ng-template>
        -->
      </div>
    </div>
  </div>
</div>
